@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "_variables";
@import "_elements";
@import "_mixins";

body {
	font-family: "Roboto", sans-serif;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: $bigfont;
	font-weight: $bold;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 7vh;
	background-color: rgba(0, 0, 0, 0.2);
	overflow-x: hidden;
	z-index: 99;
	.header__left {
		position: fixed;
		top: 1.3vw;
		left: 8vw;
		span {
			margin-right: 2vw;
			font-weight: $middle;
			font-size: $littlefont;
		}
	}
	.header__logo {
		position: fixed;
		top: 1vw;
		left: 49%;
		font-family: "Racing Sans One", cursive;
	}
	.header__search {
		position: fixed;
		top: 1.3vw;
		right: 8vw;
		img {
			width: 1.8vw;
		}
	}
}

.main__slide {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	.image_column {
		width: 100%;
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		.image_slide {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: brightness(80%);
			}
		}
	}
	.text_column {
		width: 100%;
		font-size: $XLfont;
		text-align: center;
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		.text_slide {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			div {
				width: 70%;
				line-height: 1.2;
			}
			.sub_text {
				font-size: $smallfont;
				margin-top: 2vh;
			}
		}
	}
}
.yellow_block {
	width: 100%;
	height: 50vh;
	background-color: #efcb56;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h3 {
		width: 70%;
	}
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	@include responsive("tablet") {
		grid-template-rows: repeat(4, 30vh);
	}
	@include responsive("pc") {
		grid-template-rows: repeat(4, 40vh);
	}
	@include responsive("widepc") {
		grid-template-rows: repeat(4, 50vh);
	}
	gap: 0.3vw;
	.gallery__rows {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 0.3vw;
		.gallery__one {
			position: relative;
		}
		.gallery__text {
			position: absolute;
			top: 50%;
			left: 0;
			display: inline-block;
			margin: auto;
			text-align: center;
			width: 100%;
			height: 50%;
			z-index: -1;
		}
		.gallery__background { 
			position: absolute;
			margin: auto;
			width: 100%;
			height: 100%;
			background-color: white;
			opacity: .5;
			z-index: -1;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}
		.gallery__one:hover img {
			filter: blur(4px);
		}
		.gallery__one:hover .gallery__text {
			display: block;
			z-index: 99;
		}
		.gallery__one:hover .gallery__background {
			z-index: 98;
		}
	}
	.gallery__rows:nth-child(2) {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

footer {
	width: 100%;
	height: 100vh;
	background-color: #535851;
	display: flex;
	align-items: flex-end;
	padding-bottom: 5vh;
	color: white;
	.maps {
		width: 80%;
		height: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		.maps__ul {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			ul:nth-last-child(1) {
				li:nth-child(3) {
					margin-top: 2vw;
				}
			}
			ul li:nth-child(1) {
				color: lightgray;
			}
		}
	}
	.logo {
		width: 100%;
		display: flex;
		align-items: flex-end;
		position: relative;
		img {
			display: block;
			margin: auto;
		}
		div {
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: small;
		}
	}
}
